[submodule "mini_app"]
	path = mini_app
	url = git@github.com:chrisb09/terrain_solver.git
[submodule "lmod_dependencies"]
	path = lmod_dependencies
	url = git@github.com:chrisb09/lmod_dependencies.git
[submodule "CPP-ML-Interface"]
	path = CPP-ML-Interface
	url = git@github.com:chrisb09/CPP-ML-Interface.git
[submodule "cpu_benchmark"]
	path = cpu_benchmark
	url = git@github.com:chrisb09/cpu_benchmark.git
[submodule "module_test"]
	path = module_test
	url = git@github.com:chrisb09/module_test.git
