[submodule "mini_app"]
	path = mini_app
	url = git@github.com:chrisb09/terrain_solver.git
[submodule "lmod_dependencies"]
	path = lmod_dependencies
	url = git@github.com:chrisb09/lmod_dependencies.git
[submodule "CPP-ML-Interface"]
	path = CPP-ML-Interface
	url = git@github.com:chrisb09/CPP-ML-Interface.git
[submodule "AIxeleratorService"]
	path = AIxeleratorService
	url = https://github.com/RWTH-HPC/AIxeleratorService.git
