python/
tmp/
tmp*/
logs/
scorep_runs/
module_test/module_test_*

.*
!.gitignore
!.gitmodules
!.gitattributes

phydll*.log
scorep_papi_*.out
scorep_papi_*.err
scorep_papi_hwctr_smoke_*/


# We don't use a submodule for SmartRedis, as the install.sh script clones and installs it
SmartRedis/
MMCP_TOM/
MMCP_TOM

build/
module_test/build

# Ignore core dumps
core.*

mmcp_model_wrapper/*.pt
mmcp_model_wrapper/*.py
test_model.py
