[submodule "mini_app"]
	path = mini_app
	url = git@github.com:chrisb09/terrain_solver.git
[submodule "lmod_dependencies"]
	path = lmod_dependencies
	url = git@github.com:chrisb09/lmod_dependencies.git
[submodule "CPP-ML-Interface"]
	path = CPP-ML-Interface
	url = git@github.com:chrisb09/CPP-ML-Interface.git
[submodule "cpu_benchmark"]
	path = cpu_benchmark
	url = git@github.com:chrisb09/cpu_benchmark.git
[submodule "module_test"]
	path = module_test
	url = git@github.com:chrisb09/module_test.git
[submodule "affinity_test"]
	path = affinity_test
	url = git@github.com:chrisb09/affinity_test.git
	branch = master
[submodule "aix_p2p_benchmark"]
	path = aix_p2p_benchmark
	url = git@github.com:chrisb09/aix_p2p_benchmark.git
	branch = master
[submodule "key_loadbalancing"]
	path = key_loadbalancing
	url = git@github.com:chrisb09/key_loadbalancing.git
	branch = master
[submodule "AIxeleratorService-p2p"]
	path = AIxeleratorService-p2p
	url = git@github.com:chrisb09/AIxeleratorService.git
	branch = feature/p2p-instrumented-baseline
[submodule "AIxeleratorService-pipelined"]
	path = AIxeleratorService-pipelined
	url = git@github.com:chrisb09/AIxeleratorService.git
	branch = feature/pipelined-p2p
